body {
    font-family: Arial, sans-serif;
    background-color: #cc7979;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #cc7979;
}

.container {
    text-align: center;
}

input[type="file"] {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 5px;
}