<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T5 Steganography</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/hide.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Logo on the left -->
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='style/images/logo.png') }}" class="img-fluid logo-image" alt="Logo" style="max-width: 300px; height: auto;">
            </a>

            <!-- Navbar toggler button for responsive -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links aligned to the right -->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('hide') }}">Hide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('unhide') }}">Unhide</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="flex-container">
        <form id="uploadStegoForm" action="/uploadStego" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="stegoFormFile" class="form-label fw-bold">Select Stego File (.png, .bmp, .tiff)</label>
                        <input class="form-control" type="file" id="stegoFormFile" name="stego_file">
                    </div>
                    <label for="decryptPassword" class="form-label fw-bold">Decryption Password</label>
                     <input type="password" class="form-control" id="decryptPassword" name="decryptPassword" placeholder="Optional">
            <br>
                 <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Unhide Secret Data</button>
                </div>
    </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
